@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

.card {
    width: 100%;
    height: calc(100vh - 75px);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 20px;

    color: #FFFFFF;

    overflow-y: auto;
}

.form-card {
    width: 40%;

    display: flex;
    flex-direction: column;

    background-color: #273847;

    margin: auto;
    padding: 1.5rem;
    border-radius: 2rem;
}

.form-card h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 0.5rem;
}

.form-card form {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 1rem;
}

.message-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    border-radius: 2rem;

    margin-top: 10px;

    font-family: 'Kanit', sans-serif;

    background-color: #f8d7da;
    color: #721c24;

    margin-bottom: 10px;
}

.message-box p {
    margin-left: 10px;
}

.message-box button {
    background-color: #f8d7da;
    color: #721c24;

    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

    cursor: pointer;

    margin-right: 10px;

    transition: 0.3s ease-in-out;
}

.message-box button:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.3);
}

.form-card form label {
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;

    margin-left: 0.5rem;
}

.form-card form input {
    width: 100%;
    height: 2rem;

    background-color: #1C262F;
    color: white;

    margin-bottom: 1rem;
    padding: 1.2rem;

    border: none;
    border-radius: 1rem;

    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

.form-card form input::placeholder,
.form-card form option,
.form-card form select {
    color: white;
}

.form-card form input:focus {
    outline: none;
}

.form-card form input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-card form select {
    padding: 0.5rem;
    margin-bottom: 1rem;

    background-color: #1C262F;
    border: none;
    border-radius: 1.5rem;

    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

.form-card form select option[disabled] {
    color: gray;
}

.form-buttons {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: auto;
}

.cancel-btn {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    min-width: 25%;
    
    background-color: transparent;
    border: #dc3545 1px solid;
    
    color: #dc3545;
    
    border-radius: 10px;
    padding: 5px 10px;
    
    cursor: pointer;
    
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease;
}

.cancel-btn:hover {
    background-color: #dc3545;
    color: #ffffff;
    
    transform: scale(1.05);
}

.cancel-btn:active {
    transform: scale(0.95);
}

.submit-btn {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    min-width: 25%;
    
    background-color: transparent;
    border: #5bc0de 1px solid;
    color: #fff;

    border-radius: 10px;
    padding: 5px 10px;
    
    cursor: pointer;
    
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease;
}

.submit-btn:hover {
    background-color: #5bc0de;
    color: #ffffff;
    
    transform: scale(1.05);
}

.submit-btn:active {
    transform: scale(0.95);
}

.submit-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(91, 192, 222, 0.5);
}

.sign-up {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
}

.sign-up a {
    color: #5bc0de;

    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}
