@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

.card {
    width: 100%;
    height: calc(100vh - 75px);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 20px;

    color: #FFFFFF;
}

.form-card {
    width: 40%;

    display: flex;
    flex-direction: column;

    background-color: #273847;

    margin: auto;
    padding: 1.5rem;
    border-radius: 2rem;
}

.form-card h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 0.5rem;
}

.form-card form {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 1rem;
}

.message-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    border-radius: 2rem;

    margin-top: 10px;

    font-family: 'Kanit', sans-serif;

    background-color: #f8d7da;
    color: #721c24;

    margin-bottom: 10px;
}

.message-box p {
    margin-left: 10px;
}

.message-box button {
    background-color: #f8d7da;
    color: #721c24;

    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

    cursor: pointer;

    margin-right: 10px;

    transition: 0.3s ease-in-out;
}

.message-box button:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.3);
}

.form-card form label {
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;

    margin-left: 0.5rem;
}

.form-card form input {
    width: 100%;
    height: 2rem;

    margin-bottom: 1rem;
    padding: 1rem;

    border: none;
    border-radius: 1rem;

    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

.form-card form input:focus {
    outline: none;
}

.form-card form select {
    padding: 0.3rem;
    margin-bottom: 1rem;

    border: 1px solid #000;
    border-radius: 1.5rem;

    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

.form-card form select option[disabled] {
    color: #999;
}

.form-buttons {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: auto;
}

.cancel-btn {
    padding: 5px 10px;

    background-color: #B22222;
    color: #fff;

    border: none;
    border-radius: 1rem;

    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;

    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
}

.cancel-btn:hover {
    background-color: #8B0000;
}

.submit-btn {
    padding: 5px 10px;

    background-color: #3eb9a4;
    color: #fff;

    border: none;
    border-radius: 1rem;

    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;

    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #36A28E;
}

.sign-up {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
}

.sign-up a {
    color: #3eb9a4;

    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}